body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

.left.card {
  float: left;
  width: 45%;
  
}

.left.card > img {
  float: left;
  width: 60%;
  margin-right: 20px;
}

.right.card {
  float: right;
  width: 45%;
  
}

.right.card > img {
  float: left;
  width: 60%;
  margin-right: 20px;
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (max-width: 780px) {
  .logo {
    width: 35%;
  }

  h1 {
    text-align: center;
    font-size: 3.5rem;
  }

  .right.card {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    text-align: justify;
  }

  .left.card {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    text-align: justify;
  }

  .left.card > img {
    float: none;
    width: 100%;
  }

  .right.card > img {
    float: none;
    width: 100%;
  }

  footer > p{
    padding-top: 10px;
    padding-bottom: 10px;
  }



}