.container {
  width: 70%;
  margin: auto;
  margin-bottom: 0px;
  text-align: center;
}

.dice {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.one {
  float : left;
}

.two {
  float : right;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 60%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button{
  font-size: 28px;
  margin: 60px;
  width: 120px;
  border: 0px;
  border-radius: 6px;
}

.container button:hover {
  background-color: #e0dede;
}

footer {
  clear: both;
}

@media (max-width: 768px) {
  .dice {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  button {
    font-size : 2rem;
    width: 35%;
  }
}
